---
import type { ProjectType } from "src/types";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import ProjectHero from "@components/project-page/project-hero.astro";
import ProjectOverview from "@components/project-page/project-overview.astro";
import "@styles/global.scss";
import { projectsData } from "@data/projects";
import { technologiesData } from "@data/technologies";
import ProjectTechnologies from "@components/project-page/project-technologies.astro";
import SectionDiv from "@components/section-div.astro";
import ProjectColors from "@components/project-page/project-colors.astro";
import ProjectTypography from "@components/project-page/project-typography.astro";

interface Props {
  title?: string;
}
const { title } = Astro.props;

const project = projectsData.find((proj) => proj.slug === title);

const technologies = technologiesData.filter((tech) => {
  const techSlug = project?.technology?.find(
    (projectTech) => projectTech === tech.slug
  );
  return techSlug;
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{project?.title || "Project"}</title>
  </head>
  <body>
    <div class="wrapper-main">
      <Header />
      <ProjectHero title={project?.title} />
      <ProjectOverview overviewText={project?.overview} />
      <SectionDiv />
      <ProjectTechnologies technologies={technologies} />
      <SectionDiv large />
      <ProjectColors colors={project?.colors} />
      <SectionDiv large />
      <ProjectTypography typography={project?.typography} />
      <Footer />
    </div>
  </body>
</html>

<style lang="scss">
  .wrapper-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 300px;
  }
</style>
